/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #111 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 1440 320'%3E%3Cpath fill='%23000' fill-opacity='1' d='M0,160L120,144C240,128,480,96,720,117.3C960,139,1200,213,1320,250.7L1440,288L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z'/%3E%3C/svg%3E") center/cover;
  color: #fff;
  overflow-x: hidden;
  animation: backgroundAnimation 10s ease infinite alternate;
}

@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.container {
  max-width: 100vh;
  margin: 0 auto;
}

header,
main {
  text-align: center;
}

section h2 {
  margin-top: 100px;
  margin-bottom: 30px;
}

section p, ul {
  margin: 0 2vh 0 2vh;
  text-align: justify;
  line-height: 30px;
  padding-left: 0px;
  border: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
}

h1, h2, p {
  color: #fff;
}

/* Datos personales */
.datosPersonales {
  margin-top: 100px;
}

.img-curriculum {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  object-fit: cover; /* Ajustar la imagen dentro del contenedor manteniendo su relación de aspecto */
  object-position: center; /* Centrar la imagen dentro del contenedor */
  border: 2px solid #fff; /* Agregar un borde blanco alrededor de la imagen */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar una sombra suave */
}

.detalle {
  margin-top: 0px;
}

.detalle p {
  text-align: center;
  border: none;
}

/* Sobre mi */
.sobreMi p{
 border: none;
 text-align: center;
}

/* Estudios */

.estudios ul{
  list-style: none;
  border: none;
}

.estudios ul li{
  border: 1px solid;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

/* Experiencia Laboral */
.experienciaLaboral {
  margin-bottom: 50px;
}

#listaExperiencia {
  border: none;
}

#listaExperiencia li {
  margin-top: 25px;
  list-style: none;
}

#listaExperiencia li ul li {
  margin-top: 0px;
  text-align: center;
}


/* Estilos para el footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #111;
}

.contacto {
  margin: 0 auto;
}

.contacto h2 {
  margin-bottom: 50px;
}

/* Formulario */
.contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-items: center;
}

.formulario {
  width: 50%;
}

.form-group {
  margin-left: 0px;
  margin-bottom: 20px;
  text-align: justify;
}

.form-group input, textarea {
  background-color: #333;
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
}

.submit {
  margin: auto;
  display: block;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit:hover {
  background-color: #666;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* redes */
.redes-sociales {
  margin-top: 20px;
}

.redes-sociales a {
  color: #333;
  margin-right: 10px;
}

.redes-sociales a:hover {
  color: #666;
}

/* Estilo del boton de contacto */
#toggleFooter {
  font-family: Arial, sans-serif;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #4CAF50;
  border-radius: 50px;
  background-color: #111;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  z-index: 999;
}

#toggleFooter:hover {
  background-color: #4CAF50;
}
